.sobreMiInfo{
  text-align: justify;
  text-justify: inter-word;
}
.unstyle {
  all: unset;
}

.textoBlanco {
  color: aqua
}

.bg-img-OscarDev{
  background-image: url(../Home/img/oscarDev_logos.png);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border-radius: 1%;
}