.borde-blanco {
    border-color: white !important;
  }
  
  .borde-transparente {
    border-color: transparent !important;
  }
  .bgColor{
    background-color: red;
  }
  .iconColor{
    background-color: rgb(41, 126, 114);
  }

  .stylesFooter{
    color: aqua;
    border-radius: 25%;

  }